@media (min-width: 200px) {
    .divs {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background: #f7ede2;
        min-height: 100vh;
        max-height: 100%;
    }

    #dark .divs {
        background: #3b4752;
    }
    .aboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 90px;
        font-family: 'Poppins';
        align-items: center;
    }
    .aboutTitle {
        color: #f28482;
        font-family: 'Montserrat';
        font-weight: bold;
        width: fit-content;
        margin-top: 50px;
    }
    #dark .aboutTitle {
        color: #f284828a;
    }
    .skillsTitle {
        color: #84a59d;
        margin-top: 40px;
        width: fit-content;

        margin-bottom: 1rem;
    }
    #dark .skillsTitle {
        color: #f284828a;
    }
    .about {
        margin-left: 0px;
        width: 90%;
        text-align: justify;
        margin-top: 30px;
        font-weight: bold;
        font-size: small;
    }
    #dark .about {
        color: white;
    }
    .personal {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30;
        color: #6d6875;
        font-weight: bolder;
    }
    #dark .personal {
        color: #85828b;
    }
    .personalinfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .span {
        color: #b5838d;
        font-weight: normal;
        margin-left: 10px;
    }
    #dark .span {
        color: #c99ba4;
    }
    .list {
        margin-left: 6px;
        text-align: start;
    }

    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skills {
        display: flex;
        flex-direction: inherit;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: space-around; */
        gap: 10px;
        align-items: center;
        width: 250px;
    }
    .skills img {
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
    }
    .p {
        margin-top: 30;
        text-align: 'start';
        margin-left: 40px;
        width: 150px;
    }
    #dark .p {
        color: white;
    }
    .containers {
        width: 300px; /* Full width */
        background-color: #ddd;
        border-radius: 10px;
        height: min-content;
        margin-left: -30px;
    }
    .div2 {
        width: 130px;
        margin-right: 100px;
        margin-left: 45px;
    }
    .div3 {
        width: 130px;
        margin-right: 500px;
        margin-left: 40px;
    }
    #skillshtml {
        text-align: right; /* Right-align text */
        color: white;
        width: 80%;
        background-color: #f7b267; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #skillscss {
        text-align: right; /* Right-align text */
        color: white;
        width: 70%;
        background-color: #f79d65; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    #skillsjs {
        text-align: right; /* Right-align text */
        color: white;
        width: 75%;
        background-color: #f4845f; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #skillsreact {
        text-align: right; /* Right-align text */
        color: white;
        width: 80%;
        background-color: #f27059; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    #skillsredux {
        text-align: right; /* Right-align text */
        color: white;
        width: 80%;
        background-color: #f25c54; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    #skillsexpress {
        text-align: right; /* Right-align text */
        color: white;
        width: 80%;
        background-color: #e76f51; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    #skisllsts {
        text-align: right; /* Right-align text */
        color: white;
        width: 70%;
        background-color: #e9c46a; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #skillsM {
        text-align: right; /* Right-align text */
        color: white;
        width: 70%;
        background-color: #f6bd60; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    #skillsSq {
        text-align: right; /* Right-align text */
        color: white;
        width: 75%;
        background-color: #c32f27; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #skillsP {
        text-align: right; /* Right-align text */
        color: white;
        width: 75%;
        background-color: #db7c26; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    #skillsMongo {
        text-align: right; /* Right-align text */
        color: white;
        width: 70%;
        background-color: #c75146; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #skillsMongoose {
        text-align: right; /* Right-align text */
        color: white;
        width: 70%;
        background-color: #ea8c55; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}

@media (min-width: 700px) {
    .divs {
        display: flex;
        justify-content: center;
        background: #f7ede2;
        width: 100%;
    }
    .aboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 90px;
        font-family: 'Poppins';
        align-items: center;
    }
    .aboutTitle {
        color: #f28482;
        font-family: 'Montserrat';
        font-weight: bold;
        align-self: center;
        width: fit-content;
    }
    .about {
        width: 700px;
        text-align: justify;
        margin-top: 30px;
        font-weight: bold;
        margin-left: 5px;
        font-size: medium;
    }

    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skillsTitle {
        color: #84a59d;
        margin-top: 70px;
        margin-left: 0px;
        margin-bottom: 2rem;
        width: fit-content;
    }

    .personal {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 30px;
        color: #6d6875;
        font-weight: bolder;
    }
    .personalinfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .span {
        color: #b5838d;
        font-weight: normal;
        margin: 0px;
    }
    .list {
        margin: 0px;
    }

    .skills {
        display: flex;
        flex-direction: inherit;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: center; */
        gap: 1rem;
        align-items: center;
        width: 450px;
    }

    .p {
        margin-top: 30;
        text-align: 'start';
    }
    .containers {
        width: 250%; /* Full width */
        background-color: #ddd;
        border-radius: 10px;
        height: min-content;
    }
    .div2 {
        margin-right: 280px;
        margin-left: 5px;
    }
    .div3 {
        margin-right: 500px;
        margin-left: -10px;
    }
    #skillshtml {
        text-align: right; /* Right-align text */
        color: white;
        width: 80%;
        background-color: #f7b267; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #skillscss {
        text-align: right; /* Right-align text */
        color: white;
        width: 70%;
        background-color: #f79d65; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    #skillsjs {
        text-align: right; /* Right-align text */
        color: white;
        width: 75%;
        background-color: #f4845f; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #skillsreact {
        text-align: right; /* Right-align text */
        color: white;
        width: 80%;
        background-color: #f27059; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    #skillsredux {
        text-align: right; /* Right-align text */
        color: white;
        width: 80%;
        background-color: #f25c54; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    #skillsexpress {
        text-align: right; /* Right-align text */
        color: white;
        width: 80%;
        background-color: #e76f51; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    #skisllsts {
        text-align: right; /* Right-align text */
        color: white;
        width: 70%;
        background-color: #e9c46a; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #skillsM {
        text-align: right; /* Right-align text */
        color: white;
        width: 70%;
        background-color: #f6bd60; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    #skillsSq {
        text-align: right; /* Right-align text */
        color: white;
        width: 75%;
        background-color: #c32f27; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #skillsP {
        text-align: right; /* Right-align text */
        color: white;
        width: 75%;
        background-color: #db7c26; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    #skillsMongo {
        text-align: right; /* Right-align text */
        color: white;
        width: 70%;
        background-color: #c75146; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #skillsMongoose {
        text-align: right; /* Right-align text */
        color: white;
        width: 70%;
        background-color: #ea8c55; /* White text color */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}
