@media (min-width: 200px) {
    .divContainer {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background: #f7ede2;
        width: 100vw;
        min-height: 100vh;
        max-height: 100%; /* height: 100vh; */
    }

    #dark .divContainer {
        background: #3b4752;
    }
    .divComplete {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /* align-items: flex-start; */
        background: #f7ede2;
    }
    #dark .divComplete {
        background: #3b4752;
        color: white;
    }
    .githubs {
        margin-left: 30px;
        width: 30px;
        height: 30px;
        color: #84a59d;
    }
    .linkedins {
        margin-left: 30px;
        width: 30px;
        height: 30px;
        color: #84a59d;
    }
    .divContain {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .color {
        color: black;
    }
    #dark .color {
        color: white;
    }
    .img {
        clip-path: circle(49% at 50% 49%);
        width: 250px;
        height: 250px;
    }
    .presentation {
        width: fit-content;
        font-family: 'Poppins';
    }

    .name {
        width: fit-content;
        font-weight: bold;
        font-family: 'Montserrat';
        overflow: hidden;
        white-space: nowrap;
        font-size: 2rem;
        /* border-right: 0.15em solid #f28482; */
        animation: typing 3s steps(16) 1s 1 normal both,
            blink 1s steps(1) infinite;
    }
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }
    #dark .name {
        border-right: 0.15em solid #457d8b;
    }
    .buttons {
        display: flex;
        align-items: center;
    }
    .button {
        font-size: smaller;
    }
    .githubs {
        margin-left: 5px;
    }
    .linkedins {
        margin-left: 5px;
    }
}

@media (min-width: 700px) {
    .divContainer {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background: #f7ede2;
        height: 100vh;
    }

    .divComplete {
        margin-top: 250px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background: #f7ede2;
    }
    .githubs {
        margin-left: 30px;
        width: 30px;
        height: 30px;
        color: #84a59d;
    }
    .linkedins {
        margin-left: 30px;
        width: 30px;
        height: 30px;
        color: #84a59d;
    }
    .divContain {
        margin-left: 20;
    }
    .color {
        color: black;
    }
    .img {
        clip-path: circle(49% at 50% 49%);
        width: 400px;
        height: 400px;
        margin-left: 30;
    }
}
