@media (min-width: 360px) {
    .div {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background: #f7ede2;
        height: 840px;
    }
    .projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }
    .cards {
        border-radius: 30px;
        background: #f9f4f0;
        box-shadow: 20px 20px 60px #d9d5d5, -20px -20px 60px #ffffff;
        width: 80%;
        margin-right: 40px;
        margin-left: 30px;
        cursor: pointer;
        margin-top: 50px;
    }

    .cards:hover {
        width: 90%;
        background: #f5ebe0;
    }
}

@media (min-width: 1024px) {
    .div {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background: #f7ede2;
        min-height: 1080px;
    }
    .projects {
        display: flex;
        /* justify-content: center;
        align-items: center; */
        flex-direction: row;
        margin-top: 30px;
    }

    .cards {
        border-radius: 30px;
        background: #f9f4f0;
        box-shadow: 20px 20px 60px #d9d5d5, -20px -20px 60px #ffffff;
        width: 45%;
        margin-right: 40px;
        cursor: pointer;
        margin-top: 80px;
    }

    .cards:hover {
        width: 50%;
        background: #f5ebe0;
    }
}
