@media (min-width: 200px) {
    .div {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        background: #f7ede2;
        min-height: 100vh;
        max-height: 100%;
    }
    #dark .div {
        background: #3b4752;
    }
    .divcont {
        margin-top: 100px;
        background: #f7ede2;
    }
    #dark .divcont {
        background: #3b4752;
    }
    .title {
        font-weight: bold;
        font-family: Montserrat;
        color: #f28482;
    }
    #dark .title {
        color: #f284828a;
    }
    .projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }
    .cards {
        border-radius: 30px;
        background: #f9f4f0;
        box-shadow: 20px 20px 60px #d9d5d5, -20px -20px 60px #ffffff;
        width: fit-content;
        margin-right: 40px;
        margin-left: 30px;
        cursor: pointer;
        margin-top: 50px;
    }
    #dark .cards {
        box-shadow: 20px 20px 60px #d9d5d538, -20px -20px 60px #ffffff63;
    }

    #dark .cards {
        background: #3b4752;
    }

    .cards:hover {
        background: #f5ebe0;
    }
}

@media (min-width: 1024px) {
    .div {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background: #f7ede2;
        height: 100vh;
    }
    .divcont {
        margin-top: 100px;
        background: #f7ede2;
    }
    .title {
        font-weight: bold;
        font-family: Montserrat;
        color: #f28482;
    }
    .projects {
        display: flex;
        /* justify-content: center;
        align-items: center; */
        flex-direction: row;
        margin-top: 30px;
    }

    .cards {
        border-radius: 30px;
        background: #f9f4f0;
        box-shadow: 20px 20px 60px #d9d5d5, -20px -20px 60px #ffffff;
        width: fit-content;
        margin-right: 40px;
        cursor: pointer;
        margin-top: 80px;
    }

    .cards:hover {
        background: #f5ebe0;
    }
}
